
$primary: #DA005F;
$primary-medium: #BF0054;
$primary-dark: #474144;
$primary-light: #CECACB;
$secondary: #FFC900;
$secondary-dark: #E2B200;
$secondary-light:  #F3F2EE;
$tertiary: #B200A3;
$accent: #038EA1;

$white: #fff;
$black: #333;

$serif: 'Libre Baskerville', serif;
$sans-serif: sans-serif;
$heading: 'Codystar', sans-serif;
$heading-secondary: 'Orbitron', sans-serif;
$body-text: $sans-serif;

$text-color: $black;