/* Core Libraries */
/* Util */
/* Layout */
.list-group {
  width: 70%;
  margin: 0 auto; }

.main-section {
  margin-top: 40px;
  padding-bottom: 60px; }

/* Modules */
footer {
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px; }
  footer.navbar-inverse {
    background-color: #038EA1;
    color: #FFC900; }
    footer.navbar-inverse a {
      color: #FFC900; }

#main-nav.navbar-inverse {
  background-color: #FFC900;
  color: #BF0054; }
  #main-nav.navbar-inverse a {
    color: #BF0054; }
  #main-nav.navbar-inverse .navbar-brand {
    color: #038EA1; }

/* Components */
.thumbnail {
  background-color: #BF0054;
  border-color: #fff; }
  .thumbnail img {
    width: 100px;
    height: auto; }

.nav-pills a {
  color: #fff; }

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
  background-color: #FFC900;
  color: #038EA1; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #038EA1;
  color: #fff; }

a {
  color: #DA005F;
  text-decoration: none; }

form .ng-invalid.ng-dirty {
  background-color: white;
  border-color: red; }

form .ng-valid.ng-dirty {
  background-color: white;
  border-color: green; }

section img.thumb {
  max-width: 100%; }

.list-group-item {
  background-color: #DA005F;
  border: 2px solid #fff;
  border-radius: 10px; }

input.btn,
input[type='submit'] {
  background-color: #038EA1;
  color: #fff; }
  input.btn:hover,
  input.btn:focus,
  input[type='submit']:hover,
  input[type='submit']:focus {
    color: #DA005F; }

/* Theme */
body {
  background-color: #BF0054; }

body {
  color: #fff; }

h1.navbar-brand {
  margin: 0; }

h1,
h2.subhead {
  font-family: "Codystar", sans-serif;
  color: #fff; }

h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif; }
