#main-nav {

    &.navbar-inverse {
        background-color: $secondary;
        color: $primary-medium;

        a {
            color: $primary-medium;
        }
        .navbar-brand {
            color: $accent;
        }
    }
}