#main-nav {

    &.navbar-inverse {
        background-color: $secondary;
        color: $primary;

        a {
            color: $primary;
        }
        .navbar-brand {
            color: $primary-dark;
        }
    }
}